env                     = "dev"
s3_bucket               = "com.example.dev.terraform-asdasd"
s3_bucket_name          = "Dev Terraform State Store"
dynamodb_table          = "terraform_dvdqw"
bucket_sse_algorithm    = "AES256"