AWS_ACCESS_KEY_ID="f2j30f4jf0934jf049wjf0sejfosndfjnc2oi3nd"
AWS_SECRET_ACCESS_KEY="r23irj20h4f029hf20rfh40fwrhe9df"
AWS_REGION="eu-west-1"
TERRA_BUCKET = "base64string="
TERRA_VARS = "base64string="

BACK_DB_SECRET_GROUP = "arn:aws:secretsmanager:eu-west-2:543532534:secret:44-ggf-nBqpSq"
BACK_EXEC_ROLE_TASK = "arn:aws:iam::543532534:role/execution-role"
BACK_LB_DNS = "internal-sre-challenge-back-end-lb-543532534.eu-west-2.elb.amazonaws.com"
BACK_NAME = "backend-app-"
BACK_REG_URL = "543532534.dkr.ecr.eu-west-2.amazonaws.com/backend-app-"
FRONT_EXEC_ROLE_TASK = "arn:aws:iam::543532534:role/asdf-role"
FRONT_NAME = "frontend-app"
FRONT_REG_URL = "543532534.dkr.ecr.eu-west-2.amazonaws.com/frontend-app"
XRAY_REG_URL = "543532534.dkr.ecr.eu-west-2.amazonaws.com/by-xray"