AWS_ACCESS_KEY_ID="f2j30f4jf0934jf049wjf0sejfosndfjnc2oi3nd"
AWS_SECRET_ACCESS_KEY="r23irj20h4f029hf20rfh40fwrhe9df"
AWS_REGION="eu-west-1"
ECR_REPOSITORY_FRONT="ecs_secret_repo_name"
ECS_CLUSTER_FRONT="asdf-ecs-cluster-front"
ECS_SERVICE_FRONT=