AWS_ACCESS_KEY_ID="f2j30f4jf0934jf049wjf0sejfosndfjnc2oi3nd"
AWS_SECRET_ACCESS_KEY="r23irj20h4f029hf20rfh40fwrhe9df"
AWS_REGION="eu-west-1"
FRONT_NAME="frontend-app"
FRONT_REG_URL="1d2d3dwefsdfdvxcv.dkr.ecr.eu-west-1.amazonaws.com/frontend-app"
BACK_NAME="backend-app"
BACK_REG_URL="h653hhrghfghfgh.dkr.ecr.eu-west-1.amazonaws.com/backend-app"
BACK_LB_DNS="sre-lb-64564564574574.eu-west-1.elb.amazonaws.com"